* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: #00ff66;
  font-family: Arial;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.hidden {
  display: none;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #00aa44;
  color: white;
  margin-top: 10px;
}

/* ASSISTENTE */
#status {
  margin-top: 10px;
  color: yellow;
}

#key {
  margin-top: 20px;
  font-size: 22px;
}

#confidence {
  color: gray;
}

.bar {
  height: 10px;
  background: #222;
  margin-top: 10px;
}

.fill {
  height: 100%;
  width: 0%;
  background: lime;
}

#chords {
  margin-top: 20px;
}

/* AFINADOR */
#note {
  font-size: 100px;
  margin-top: 20px;
}

#freq {
  font-size: 20px;
}

.meter {
  position: relative;
  width: 90%;
  height: 6px;
  background: #222;
  margin: 30px auto;
}

.center-line {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 20px;
  background: white;
  top: -7px;
}

#needle {
  position: absolute;
  width: 4px;
  height: 25px;
  background: red;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.scale {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

#cents {
  margin-top: 10px;
}